$dark-gray_01	: #575656; //used for top menu and headings
$dark-gray_02	: #5b6172; //used for basic content
$dark-gray_03	: #444850; //used for footer background
$green_01		: #61c0bd; //used for button borders
$green_02		: #5fc0c3; //used for button backgrounds
$green_03		: #5dc0c9;
$green_04		: #57c1d5;
$light-gray_01	: #f1f2f5;
$light-gray-02	: #979eb1;
$light-gray-03	: #4c5058;
$light-gray-04	: #ecedf0;
$light-gray-05	: #dedfe2;
$white			: #FFFFFF;
$black 			: #000;